@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::view-transition-group(preview) {
		animation-duration: 120ms;
	}
}

@layer components {
	.btn {
		@apply rounded-xl px-3 py-2 font-semibold leading-none transition hover:bg-gray-900 active:bg-gray-800;
	}
	.btn-s {
		@apply text-gray-950 hover:bg-gray-200 active:bg-gray-300;
	}
}
