@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::view-transition-group(preview) {
		animation-duration: 120ms;
	}
}

@layer components {
	.btn {
		@apply rounded-lg px-3 py-2 font-semibold leading-none text-gray-50 transition hover:bg-gray-900 active:bg-gray-800 disabled:cursor-not-allowed disabled:text-gray-400 disabled:hover:bg-transparent;
	}
	.btn-s {
		@apply text-gray-950 hover:bg-opacity-25 hover:bg-none active:bg-opacity-50 active:bg-none;
	}
}
